  
<select>
{{#each trees}}
<option> {{sale}} </option>
<option> {{height}} </option>
{{/each}}
</select>

<select>
{{#each cities}}
<option> {{name}} </option>
{{/each}}
</select>

<select>
{{#each adress}}
<option> {{city}}, {{street}} </option>
{{/each}}
</select>
